/* Media query para móviles medianos (ej. > 480px) */
@media (width<=481px) {
    .nNavInit {
        width: 100dvw;
        overflow-x: hidden;
    }
    .nAuthSec {
        margin-top: 1rem;
        width: 100dvw;
        height: 100%;
        border: 0px;
        display: flex;
        align-items: center;
        justify-content: start!important;
        gap: 0.85rem;
    }

    .nMainAuth {
        height: 100%;
        overflow-x: hidden;
    }
}

/* Media query para tablets (ej. >= 768px) */
@media (width<=768px) {
    .nAuthSec {
        width: 90dvw;
    }
}

/* Media query para desktops pequeños (ej. >= 1024px) */
@media (width<=1024px) {
    .nAuthSec {
        width: 90dvw;
    }
}

/* Media query para desktops grandes (ej. >= 1280px) */
@media (width<=1280px) {
    .nAuthSec {
        width: 90dvw;
    }
}